body {
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  position: absolute;
  top: 0;
  left: 0;
}

.home-container {
  position: absolute;
  margin: auto;
  top: 0; left: 0; bottom: 0; right: 0;
  width: 45%;
  height: 20%;
}

.title {
  font-size: 76px;
}

.description {
  font-size: 40px;
  font-weight: 400;
  font-style: italic;
}

.home-icons {
  font-size: 30px;
}

.fa {
  margin: 10px;
}

.home-appear {
  opacity: 0.01;
}

.home-appear.home-appear-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}
